#board-container{
    display: flex;
    width: 378px;
    flex-wrap:wrap;
    margin:auto;
    margin-top:150px;
}

.box{
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: azure;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    text-align: center;
    font-size:70px;
    align-self: center;
    cursor:pointer;
}

.box:hover {
  cursor: pointer;
  background-color: blue
}

.box::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid hsl(236, 32%, 26%);
  transform-origin: center;
  transform: scale(1);
}

.box:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  opacity: 0;
}
